#us_section {
	width: 100%;
	background-color: #000;
	overflow: auto;
	padding-top: 80px;
	padding-bottom: 150px;
}

.content {
	width: 40%;
	float: left;
	padding: 0px 30px;
	position: relative;
}

#title_us {
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 20px;
}

#subtitle_us {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

#content_text {
	width: 300px;
	float: left;
}

#button_click {
	position: absolute;
	background-color: transparent;
	border: none;
	width: 110px;
	cursor: pointer;
	right: 20px;
	bottom: -50px;
}

form {
	position: relative;
}

.content form label {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
}

.content form input {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #ececec;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #7d7667;
	padding-bottom:  8px;
	width: 95%;
}

#arrow {
	background-image: url(../images/right.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 10px;
}

@media screen and (max-width: 600px) {
	.content {
		width: 65%;
		float: none;
		margin: 0px auto;
	}

	#content_title {
		width: 100%;
		overflow: auto;
	}

	#content_text, #title_us, #subtitle_us {
		width: 100%;
	}

	#form {
		margin-top: 50px; 
	}

	#button_click {
		right: 0px;
	}
}















